include ../post-item/post-item

mixin post-list()
	+b.post-list&attributes(attributes)
		+post-item('Transducers in PHP').post-list__item
			p Rich Hickey recently announced that transducers are going to be added to Clojure, and it prompted quite a bit of  discussion. After a somewhat brief announcement, Hickey followed up with a couple videos that describe transducers in much more detail: Transducers and Inside Transducers + more.async

			p Transducers are a very powerful concept that can be utilized in almost any language. In fact, they have been ported to various other languages including JavaScript (1 and 2), Python, Ruby, Java, and Go.

			p And now…transducers are available in PHP via transducers.php!
