mixin search-form()
	form.form.search-form(action="post.html/comment")&attributes(attributes)
		.form-group
			input.form-control.search-form__input(type="search", id="query", placeholder="Search post... ↵")
