.post-item
	display block
	margin-bottom 3.5rem

	&__header
		margin-bottom 1.5rem

	&__title
		margin 0
		font-weight 600
		font-size 1.875rem
		line-height 2.5rem
		color black

		&:hover
			color rgba(black, .5)

	&__title-link
		color inherit
		text-decoration none
