.link
	color #004A94
	fill #004A94
	border-bottom 1px solid rgba(#004A94, .2)
	text-decoration none
	transition-property border-bottom, border-color, background, color, fill
	transition-duration .33s
	transition-timing-function ease-out

	&:visited
		color rgba(#004A94, .2)

	&:hover
		color #d7380f
		fill #d7380f
		border-color rgba(#d7380f, .2)
		transition none
