include ../text/text
include ../date/date
include ../avatar/avatar
include ../link/link

mixin comment(author, date, text)
	+b.comment&attributes(attributes)
		section.comment__body
			header.comment__header
				+avatar('https://avatars0.githubusercontent.com/u/62051?v=3&s=460', 'NickName').comment__avatar
				+link('asdasd').comment__author=author
				+date(date, '10.11.2016, 16:28:40').comment__date
				+link('#12312').comment__id #

			+text().comment__text
				p=text

		section.comment__responses
			block
