.comments
	display block
	padding-top 1.5rem
	border-top 1px solid darken(#f5f6f7, 10%)
	background-color #f5f6f7

	&__header
		display flex
		align-items center

	&__title
		margin-right .5rem
		display inline-block
		vertical-align top
		font-size 1.5rem

	&__feed
	&__email
		color rgba(black, .7)
		text-decoration none
		font-size 1rem

		&-icon
			font-size inherit
