include ../comment-list/comment-list

mixin comments()
	+b.comments&attributes(attributes)
		.container
			header.comments__header
				h2.comments__title 8 comments

				a.comments__feed(href="#", title="Subscribe to comments RSS Feed")
					i.material-icons.comments__feed-icon rss_feed

				a.comments__email(href="#", title="Subscribe to comments via email")
					i.material-icons.comments__email-icon email

			+comment-list().comments__list

			.comments__form
