.comments
	display block

	&__header
		display flex
		align-items center
		margin-bottom 1.5rem

	&__title
		margin-right .5rem
		display inline-block
		vertical-align top
		font-size 1.5rem

	&__feed
	&__email
		color rgba(black, .7)
		text-decoration none
		font-size 1rem

		&-icon
			font-size inherit
