extends ../blocks/layout-default/layout-default
include ../blocks/post-list/post-list
include ../blocks/container/container

block head
	- var pageTitle = 'Blog Theme';

block content
	+container()
		+post-list()
