extends ../blocks/layout-default/layout-default
include ../blocks/post/post

block head
	- var pageTitle = 'Transducers in PHP';

block content
	+post('Transducers in PHP')
		include ./post-text.html

	+more-posts()

	+comments()
