include ../header/header
include ../footer/footer
include ../logo/logo
include ../heading/heading
include ../menu/menu
include ../container/container
include ../search-form/search-form

mixin page()
	+b('body').page&attributes(attributes)

		+header()
			+container()
				.row
					.col-md-1.col-xs-12.header__logo
						+logo('https://avatars0.githubusercontent.com/u/62051?v=3&s=460')
					.col-md.col-xs-12
						+heading('Nikolay Kostyurin', '/', 'Passionate Web Developer')
						+menu([{url: '/', label: 'Projects'}, {url: '/', label: 'Posts'}, {url: '/', label: 'Github'}])

					.col-md-4.col-xs-12
						+search-form()

		block

		+footer()
			+container()
				.row
					.col-md-4.col-xs-12
						+search-form()
				.row
					.footer__copyright © 2010 — 2020, Nikolay Kost
