include ../header/header
include ../footer/footer
include ../logo/logo
include ../heading/heading
include ../menu/menu
include ../container/container

mixin page()
	+b('body').page&attributes(attributes)

		+header()
			+container()
				.row.middle-xs
					+logo('https://avatars0.githubusercontent.com/u/62051?v=3&s=460').col-xs.header__logo
					+heading('Nikolay Kostyurin').col-xs
					+menu([{url: '#about', label: 'Projects'}, {url: '#about', label: 'Posts'}, {url: '#about', label: 'Github'}]).col-xs.header__menu

		block

		+footer()
			+container()
				| © Blog Author, 2020
