.menu
	display block

	&__item
		display inline-block
		vertical-align top
		margin-right 1.5rem

	&__link
		color #000
		border-bottom 1px solid rgba(0, 0, 0, 0.2)

		&:hover
			color #ff0000
			border-bottom-color rgba(255, 0, 0, 0.4)
