.tags
	display inline-flex

	&__tag
		margin-right .25rem
		padding .1rem .5rem
		display inline-block
		vertical-align top
		font-size 0.875rem
		color #000
		border 1px solid rgba(black, .2)
		border-radius .25rem

		&:hover
			color #000
			border-color rgba(black, .3)

		&:focus
			border-color #ffcc00
			box-shadow 0 0 0 1px #ffcc00
