.tags
	display inline-block
	vertical-align top

	&__tag
		margin-right .25rem
		font-size 0.875rem
		display inline-block
		vertical-align top
		color #000
		border-bottom 1px solid rgba(0, 0, 0, 0.2)

		&:hover
			color #a5d149
			border-bottom-color rgba(#a5d149, 0.4)
