$ctx = avatar

.{$ctx}
	display inline-block
	border-radius 50%

	.{$ctx}__image
		border-radius 18px

	&--size-m
		width 36px
		height 36px

		.{$ctx}__image
			width 36px
			height 36px
			border-radius 18px
