.post
	display block
	margin-bottom 1.5rem
	padding-bottom 1rem
	border-bottom 1px solid #f7f7f7

	&__header
		margin-bottom 1.5rem

	&__title
		margin 0
		display inline-block
		font-weight 600
		font-size 1.875rem
		line-height 2.5rem
		color black
		border-bottom 1px solid transparent

		&:hover
			border-bottom-color rgba(0, 0, 0, .2)

	&__title-link
		color inherit
		border none
		text-decoration none

	&__body
		max-width 720px
