include ../tags/tags
include ../text/text
include ../date/date
include ../more-posts/more-posts
include ../comments/comments
include ../container/container

mixin post(title)
	article.post&attributes(attributes)
		+container().post__container
			.row
				.col-md-8.col-xs-12
					+date('november 05, 2016', 'asdasd').post__date
					header.post__header
						h1.post__title=title

					+text().post__body
						block

					footer.post__footer
						+tags().post__tags

						.post__nav
							span &lsaquo;
							a.post__nav-left(href="#") Left Post

							span.post__nav-hotkeys
								span.post__nav-key &larr;
								span.post__nav-shortcut Ctrl / &#8984;
								span.post__nav-key &rarr;

							a.post__nav-right(href="#") Right Post
							span &rsaquo;

						.post__share
							h4.post__share-title Share link
							.post__share-items.likely
								.facebook Share
								.twitter Tweet
								.gplus +1
								.vkontakte Share
								.pinterest Pin
								.odnoklassniki Like
								.telegram Send

				.col-md-4.col-xs-12
					| Sidebar content here
