.post
	display block
	padding-bottom 1.5rem

	&__header
		margin-bottom 1.5rem

	&__title
		margin 0
		display inline-block
		font-weight 600
		color black
		font-size 2.625rem
		line-height 1.27

		+mobile()
			font-size 1.625rem

	&__body
		max-width 45rem

	&__nav
		margin-top 1rem
		display flex
		font-size .9rem

	&__nav-hotkeys
		padding 0 1rem
		color rgba(black, .4)

	&__nav-shortcut
		padding 0 .5rem
		color #333

	&__nav-left
	&__nav-right
		color #0076FF
		text-decoration none
		border-bottom 1px solid rgba(0, 118, 255, 0.2)

		&:hover
			color #FF3824
			border-bottom-color rgba(252, 99, 65, 0.3)

	&__share
		margin-top 3rem

	&__share-title
		margin 0
		font-size 1rem
