include ../container/container
include ../comment/comment

mixin comment-list()
	+b.comment-list&attributes(attributes)
		+comment('Nikolay Kost', '10.11.2016, 16:28:40').comment-list__item
			| And now…transducers are available in PHP via transducers.php!

		block
