$ctx = comment-list

.{$ctx}
	position relative
	display block

	.{$ctx}__item
		position relative
		margin-top: 1rem;

	.{$ctx}__item .{$ctx}__item
		margin-left 3rem

		+mobile()
			margin-left 1rem

	.{$ctx}__item .{$ctx}__item .{$ctx}__item .{$ctx}__item .{$ctx}__item
		margin-left 0
