.comment-form

	&__title
		margin-bottom 1rem

	&__avatar
		margin-right .5rem

		display inline-block
		width 2rem
		height 2rem

	&__textarea
		height 3rem
		transition height .3s ease

		&:focus
			height 6rem
